body{
    background-color: #E7E5E4;
    
}

.w1{
    background-color: #ffffff;
    padding: 2%;
    margin-right: 65%;
    
}

.w2{
    background-color: #2B7FFF;
    color: #ffffff;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-left: 20px;
    border: none;
}

.w4{
    margin-left: 9%;
    
}
.w5{
    margin-left: 80px;
    margin-top: 70px;
}

.w6{
    font-size: 70px;
    margin-top: 30px;
}

.w7{
    font-size: 30px;
    margin-left: 90px;
    margin-top: -100px;
}

.w8{
    color: #A6A09B;

}

.w9{
    display: flex;
    gap: 10px;

    margin-top: 30px;
    margin-left:8px;
}

.w10{
    display: flex;
    gap: 20px;
    margin-left: 8px;
}

.w11{
    width: 250px;
    height: 100px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 65px;
}

.w12{
    color: #ffffff;
    text-align: center;
    margin-top: -65px;
    margin-bottom: 35px;
}

.w13{
    margin-left: 500px;
    margin-top: -680px;

}

.w14{
    background-color: #ffffff;
    padding-left: 20pX;
    margin-right: 700px;
    padding-right: 20px;
}

.w15{
    width: 40px;
    height: 40px;
    
}

.w16{
    text-align: center;
    padding-top: 10px;
    margin-left: 1px;
}

.w17{
    display: flex;
    margin-top: 60px;
    
}

.w18{
    margin-left: 500px;
    margin-top: 50px;
}

.w19{
    background-color: #ffffff;
    margin-right: 80%;
    padding-left: 2.3%;
}

.w20{
    margin-top: -30px;
    margin-left: 35px;
}
